.my-space-container {
  height: 100%;
  margin-bottom: auto;
  .space-container-header {
    display: flex;
    flex-wrap: nowrap;
    place-items: center flex-start;
    justify-content: space-between;
    width: 100%;
    .space-container-title {
      display: flex;
      flex-wrap: nowrap;
      place-items: center flex-start;
    }
  }
  .my-space-tabs > .el-tabs__content {
    padding: 32px;
    font-size: 32px;
    font-weight: 600;
    color: #6b778c;
  }
  .my-space-tabs {
    .member-table {
      height: 400px;
    }
  }
  .chosen {
    border: 2px solid #89cffd !important;
  }
}
