.my-space-container {
  height: 100%;
  .space-container-header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    justify-items: flex-start;
    width: 100%;
    .space-container-title {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-items: flex-start;
    }
  }
  .my-space-tabs > .el-tabs__content {
    padding: 32px;
    font-size: 32px;
    font-weight: 600;
    color: #6b778c;
  }
  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-item {
      flex: 0 0 calc(31% - 20px);
      height: 150px;
      padding: 10px;
      margin: 10px;
      border: 1px solid;
      border-color: var(--el-aside-border-color);
      border-radius: 8px;
      box-shadow: 0 0 10px rgb(0 0 0 / 10%);
      .card-header {
        display: flex;
        justify-content: space-between;
        height: 30%;
        .card-icon {
          img {
            height: 100%;
          }
        }
        .card-operation {
          opacity: 0;
          transition: opacity 0.5s ease;
          .el-button {
            margin-right: 5px;
          }
        }
      }
      .card-title {
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
      }
      &:hover,
      &:hover .card-operation {
        .card-operation {
          opacity: 1;
        }
      }
    }
  }
  .chosen {
    border: 2px solid #89cffd !important;
  }
}
